@{
    ViewData["Title"] = "Home Page";
}

<h1>Bienvenido usuario</h1>
<div>
    <!-- Botones estilizados con Bootstrap -->
    <a href="~/Paciente/Index" class="btn btn-primary">Ir a la lista de pacientes</a>
    <a href="~/Doctor/Index" class="btn btn-success">Ir a la lista de doctores</a>
</div>
